<% posts.forEach((post) => { %>
    <div class="central-meta item">
      <div class="user-post">
        <div class="friend-info">
          <figure>
            <img src="/images/resources/friend-avatar10.jpg" alt="">
          </figure>
          <div class="friend-name">
            <ins><a href="time-line.html" title=""><%= post.createdBy %></a></ins>
            <span>published: june,2 2018 19:PM</span>
          </div>
          <div class="post-meta">
            <div class="description">
              <p><%= post.message %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }); %>